---
title: "interesting articles"
description: "external links in case this site was too boring"
layout: "basic_index"
---
<div class="text-center section-title">
  <h1>Cool Stuff</h1>
  <div>{{ page.description }}</div>
</div>
<ul class="list-unstyled">
  {% for link in site.data.navigation %}
    {% if link.title == "Cool Stuff" %}
      {% for child in link.children %}
        <li class="post-entry">
          <div class="text-center post-header">
            <h1 class="post-title"><a href="{{ child.href }}" target="_blank" rel="noopener noreferrer">{{ child.title }}</a></h1>
          </div>
        </li>
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>
