---
title: Russell Kan
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body class="site homepage">
        <main class="site-content">
            <div class="definition container-fluid container">
                <dl>
                    <dt>
                        <a class="main-title" href="{{ site.baseurl }}/about">intraspective</a>
                        <a class="pronunciation" href="{{ site.baseurl }}/resume"><strong>UT Austin</strong> | 2019
                        </a>
                    </dt>
                    <dd><a href="{{ site.baseurl }}/cs">software</a></dd>
                    <dd><a href="{{ site.baseurl }}/med">medicine</a></dd>
                    <dd><a href="{{ site.baseurl }}/music">music</a></dd>
                </dl>
            </div>
            <div class="visit">
                <button class="reveal-text b-button js-button">
                    <a href="mailto:txrjk96@utexas.edu">
                    contact
                    </a>
                </button>
            </div>
        </main>
        {% include footer.html %}
    </body>
</html>