---
title: Russell Kan
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="prerender" href="{{ site.baseurl }}/resume">
  </head>
  <div id="particles-js"></div>
  <body class="site">
    <main class="site-content">
      <div class="definition container-fluid container">
        <dl class="title">
          <dt>
            <a class="main-title" href="{{ site.baseurl }}/about">intraspective</a>
            <a class="pronunciation" href="{{ site.baseurl }}/resume"><strong>UT Austin</strong> | 2019
            </a>
          </dt>
          <dd><a href="{{ site.baseurl }}/cs">software</a></dd>
          <dd><a href="{{ site.baseurl }}/med">medicine</a></dd>
          <dd><a href="{{ site.baseurl }}/music">music</a></dd>
        </dl>
      </div>
      <div class="visit">
        <div class="copy-notif hidden-first">
          Email copied to clipboard
        </div>
        <button class="reveal-text b-button" onclick="copyEmail('txrjk96@utexas.edu')">
          contact
        </button>
      </div>
    </main>
    <div class="home">
    {% include footer.html %}
    </div>
    <script src="/js/copy.js"></script>
    <script src="/js/particles.js"></script>
    <script src="/js/loadparticles.js"></script>
  </body>
</html>