---
title: Russell Kan
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body class="site homepage">
        <main class="site-content">
            <div class="definition container-fluid container">
                <dl>
                    <dt>
                        <span class="main-title">intraspective</span>
                        <span class="pronunciation"><strong>UT Austin</strong> | 2019
                        </span>
                    </dt>
                    <dd><sup>1.</sup> software</dd>
                    <dd><sup>2.</sup> medicine</dd>
                    <dd><sup>3.</sup> music</dd>
                </dl>
            </div>
            <div class="visit">
                <button class="reveal-text b-button js-button">
                    <a href="mailto:txrjk96@utexas.edu">
                    message
                    </a>
                </button>
            </div>
        </main>
        {% include footer.html %}
    </body>
</html>