---
title: "Music"
description: "some BODY once told me"
layout: "basic"
---
<div class="container">
  <div class="content-area">
    <div class="text-center section-title">
      <h1>{{ page.title }}</h1>
      <p class="content-type-overview">{{ page.description }}</p>
    </div>
    <ul class="list-unstyled">
      {% for post in site.categories['music'] %}
      <li class="post-entry">
        <div class="text-center">
          <h1 class="post-title"><a href="{{ post.source-url }}">{{ post.title }}</a></h1>
          <em class="post-info">{{ post.artist }}</em>
        </div>
        <br>
        {% if post.site == "Youtube" %}
        <iframe class="post-video" width="800px" height="480px" src="https://www.youtube.com/embed/{{ post.source }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% elsif post.site == "Soundcloud" %}
        <iframe class="post-video" width="800px" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ post.source }}"></iframe>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>